Body{
    margin: 0;
    text-align: center;
    font-family: Times, sans-serif;
    background-color: black;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKLWi_9Fs8aKh-YOzyeQWpLpXVTHagIoXOGYPEOMOWylbxqS45b-Agujdh&s=10");
    background-size: 80% auto;
    background-position: top center;
    background-repeat: no-repeat;


}

h1{
    text-align: center;
    margin-bottom: 30px;
    color: purple;
}

    /*estructura de las tarjetas principales */

#datosprincipal{

        width: 90%;
        margin: 20px auto;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:20px;
}




.card{
    background-color: rgb(98, 1, 61);
    border: 3px solid rgb(152, 0, 155);
    border-radius: 10px;
    padding: 15px ;
    box-sizing: border-box;
}

/* tamaño de imagen de la tarjeta */
.card img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}
/* configuracion de imagen que se puede seleccionar */
.imagen-personaje{
    cursor: pointer; 
    transition: transform 0.8s; 
}
.imagen-personaje:hover {
    transform: scale(1.05);
}
/*configuracion de letra de la tarjeta */
.card h2{
    color: rgb(249, 246, 246);
    font-family: 'Times New Roman', Times, sans-serif;
    text-align: center;

}

.card p{
    margin:6px 0;
    font-size:  14px;
}

/* configuracion de ventana grande o emergente */
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(52, 0, 62, 0.75);
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

/* recuadro de informacion de la ventana emergente */
.modal-contenido {
    background-image:url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); /* rgb(117, 2, 2); */
    width: 80%;
    max-width: 900px;
    max-height: 85vh;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    gap: 30px;
    position: relative;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Imagen grande del personaje */
.modal-contenido img {
    width: 300px;
    height: 400px;
    object-fit: contain;
    flex-shrink: 0;
}


/* Información adicional */
.modal-informacion {
    flex: 1;
}

.modal-informacion h2 {
    font-size: 30px;
    margin-top: 0;
    color: white;
}

.modal-informacion p {
    font-size: 17px;
    line-height: 1.5;
    color: yellow;
}

/* Botón X */
#cerrar {
    position: absolute;
    top: 8px;
    right: 18px;
    font-size: 35px;
    cursor: pointer;
    color: white;
}

/* Mensaje de error */
.error {
    text-align: center;
    font-size: 20px;
}


/*celular */
@media (max-width: 600px){
    #datosprincipal{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .card{
    padding: 10px;
    }

    .card img{
        height: 130px;
    }

    .card p{
        font-size: 12px;
    }
   .modal-contenido {
        width: 95%;
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .modal-contenido img {
        width: 200px;
        height: 250px;
    }

    .modal-informacion {
        width: 100%;
    }

    .modal-informacion h2 {
        font-size: 24px;
        text-align: center;
    }

    .modal-informacion p {
        font-size: 15px;
    }




}